ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p {
  color: red;

}

 /*Element Selectors */
li {
font-size: 20px ;
}

.note{
  font-size: 20px
}

 /*ID Selectors */
#id-selector-demo {

  color: green;

}



 /*Attribute Selectors */
li[value="4"] {


  color: blue ;

}


*{


text-align: center
  
}